In [1]:
import pandas as pd

file_path = './Mouse_Human.tsv'
df = pd.read_csv(file_path, sep='\t')

print(df)
df.to_csv('./Mouse_Human_multi2multi.csv', index=False)

df = df[df['Human homology type'].isin(['ortholog_one2one'])]
print(df)

df.to_csv('./Mouse_Human_one2one.csv', index=False)

      Gene name Human gene name Human homology type
0        mt-Nd1          MT-ND1    ortholog_one2one
1        mt-Nd2          MT-ND2    ortholog_one2one
2        mt-Co1          MT-CO1    ortholog_one2one
3        mt-Co2          MT-CO2    ortholog_one2one
4       mt-Atp8         MT-ATP8    ortholog_one2one
...         ...             ...                 ...
26355     Fmnl2           FMNL2    ortholog_one2one
26356     Scn9a           SCN9A    ortholog_one2one
26357    Abcb11          ABCB11    ortholog_one2one
26358      Ubr3            UBR3    ortholog_one2one
26359       Ttn             TTN    ortholog_one2one

[26360 rows x 3 columns]
      Gene name Human gene name Human homology type
0        mt-Nd1          MT-ND1    ortholog_one2one
1        mt-Nd2          MT-ND2    ortholog_one2one
2        mt-Co1          MT-CO1    ortholog_one2one
3        mt-Co2          MT-CO2    ortholog_one2one
4       mt-Atp8         MT-ATP8    ortholog_one2one
...         ...             ...                 ...
26355     Fmnl2           FMNL2    ortholog_one2one
26356     Scn9a           SCN9A    ortholog_one2one
26357    Abcb11          ABCB11    ortholog_one2one
26358      Ubr3            UBR3    ortholog_one2one
26359       Ttn             TTN    ortholog_one2one

[17122 rows x 3 columns]

In [1]:
import pandas as pd

file_path = './Human_Mouse.tsv'
df = pd.read_csv(file_path, sep='\t')

print(df)
df.to_csv('./Human_Mouse_multi2multi.csv', index=False)

df = df[df['Mouse homology type'].isin(['ortholog_one2one'])]
print(df)

df.to_csv('./Human_Mouse_one2one.csv', index=False)

      Gene name Mouse gene name Mouse homology type
0        MT-ND1          mt-Nd1    ortholog_one2one
1        MT-ND2          mt-Nd2    ortholog_one2one
2        MT-CO1          mt-Co1    ortholog_one2one
3        MT-CO2          mt-Co2    ortholog_one2one
4       MT-ATP8         mt-Atp8    ortholog_one2one
...         ...             ...                 ...
26355    PDIK1L          Pdik1l    ortholog_one2one
26356   FAM110D         Fam110d    ortholog_one2one
26357  C1orf232         Gm30191    ortholog_one2one
26358    ZNF593          Zfp593    ortholog_one2one
26359    CNKSR1          Cnksr1    ortholog_one2one

[26360 rows x 3 columns]
      Gene name Mouse gene name Mouse homology type
0        MT-ND1          mt-Nd1    ortholog_one2one
1        MT-ND2          mt-Nd2    ortholog_one2one
2        MT-CO1          mt-Co1    ortholog_one2one
3        MT-CO2          mt-Co2    ortholog_one2one
4       MT-ATP8         mt-Atp8    ortholog_one2one
...         ...             ...                 ...
26355    PDIK1L          Pdik1l    ortholog_one2one
26356   FAM110D         Fam110d    ortholog_one2one
26357  C1orf232         Gm30191    ortholog_one2one
26358    ZNF593          Zfp593    ortholog_one2one
26359    CNKSR1          Cnksr1    ortholog_one2one

[17122 rows x 3 columns]